# Ignore virtual environments
.venv

# Ignore __pycache__ directories
__pycache__/
**/__pycache__/

# Ignore environment files
.env

# Optional: If `banking_api\__pycache__` is a specific directory to ignore
banking_api/__pycache__/
